.calendarScreen {
    display: flex;
    flex-direction: column;
}

.calendar {
    margin-left: auto;
    margin-right: auto;
}

.summer {
    width: 380px;
    height: 159px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}